.wrapper {
	--spacing: 20px;
	block-size: 100%;
	isolation: isolate;
	display: grid;
	grid-template-rows: auto 1fr auto;

	@include respond-above('lg') {
		--spacing: 30px;
	}

	> * {
		min-width: 0;
	}
}
