.button {
	font-size: 16px;
	letter-spacing: -0.024em;
	background-color: var(--primary-100);
	color: var(--white-100);
	border-radius: var(--radius);
	padding: 8px 16px;
	@include respond-above('lg') {
		padding: 12px 30px;
	}
	// @media (prefers-color-scheme: dark) {
	// 	background-color: var(--primary-300);
	// }
	width: var(--width);

	&__light {
		@extend .button;
		background-color: var(--primary-400);
		color: var(--dark);

		@media (prefers-color-scheme: dark) {
			// background-color: hsl(150, 35%, 75%);
			// color: var(--white-100);
		}
		border: 1px solid var(--primary-300);
		width: var(--width);
	}

	&__border {
		@extend .button;
		background-color: var(--white-100);
		color: var(--primary-100);
		border: 1px solid var(--primary-100);
	}

	&__text {
		color: var(--primary-100);
		padding: 10px;
	}

	&__input {
		padding: 10px;
		border: 1px solid var(--white-500);
		border-radius: var(--radius);
		font-size: 16px;
		background-color: var(--white-200);
		text-align: left;
		color: var(--gray-300);

		@media (prefers-color-scheme: dark) {
			// border-color: var(--surface-100);
			// background-color: #1d1d1d;
		}
	}

	&__summary {
		list-style: none;
		cursor: pointer;
		padding: 10px;
		font-size: 14px;
		background-color: var(--primary-100);
		color: var(--white-100);
		border-radius: var(--radius);

		.dropdown-caret {
			margin-left: 10px;
			opacity: 0.8;
		}
	}
}
