.button {
	font-size: 16px;
	letter-spacing: -0.024em;
	background-color: var(--primary-100);
	color: var(--white-100);
	border-radius: var(--radius);
	padding: 8px 16px;
	@include respond-above('lg') {
		padding: 16px 40px;
	}
	// @media (prefers-color-scheme: dark) {
	// 	background-color: var(--primary-300);
	// }
	width: var(--width);

	&__light {
		@extend .button;
		background-color: var(--primary-400);
		color: var(--dark);
		border: 1px solid var(--primary-300);
		width: var(--width);
	}

	&__border {
		@extend .button;
		background-color: var(--white-100);
		color: var(--primary-100);
		border: 1px solid var(--primary-100);
	}

	&__input {
		padding: 10px;
		border: 1px solid var(--white-500);
		border-radius: var(--radius);
		font-size: 16px;
		background-color: var(--white-200);
		text-align: left;
		color: var(--gray-300);
	}
}
