.dialog {
	&__container {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 2;

		&[aria-hidden='true'],
		[aria-hidden='true'] {
			display: none;
		}
	}

	&__overlay {
		background-color: rgba(27, 26, 26, 0.8);

		@media (prefers-color-scheme: dark) {
			// background-color: hsla(0, 0%, 92%, 0.5);
		}

		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	&__content {
		background-color: var(--white-100);
		box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12),
			0px 12px 42px -4px rgba(24, 39, 75, 0.12);
		border-radius: var(--radius);
		margin: auto;
		width: min(600px, 95%);
		position: relative;
		padding: var(--spacing);
		padding-bottom: calc(var(--spacing) * 2);
		min-height: 400px;

		h1 {
			font-size: 1.75rem;
			color: var(--primary-100);
			text-align: center;
		}

		.info {
			max-width: 400px;
			margin: 0 auto;
			text-align: center;
		}

		.button,
		[role='button'] {
			width: 100%;
			display: block;
		}

		[role='button'] {
			text-align: center;
		}

		.query {
			font-size: 14px;
			a {
				color: var(--primary-100);
			}
		}

		.links {
			display: flex;
			justify-content: space-around;
			a {
				font-size: 12px;
				color: var(--gray-300);
			}
		}
	}
}
