.pill {
	display: inline-block;
	padding: 8px 16px;
	font-size: 12px;
	font-weight: 600;
	white-space: nowrap;
	text-align: center;
	border-radius: calc(var(--radius) * 6);
	text-transform: uppercase;
	letter-spacing: -0.0125em;

	&[data-status='approved'],
	&[data-status='sent'] {
		background-color: hsl(105, 100%, 98%);
		color: hsla(150, 100%, 18%, 1);
	}

	&[data-status='active'] {
		background-color: hsl(142, 100%, 44%);
		color: hsl(150, 58%, 10%);
	}

	&[data-status='reviewing'],
	&[data-status='inactive'] {
		background-color: hsl(0, 20%, 92%);
		color: hsl(0, 15%, 38%);
	}

	&[data-status='pending'] {
		background-color: hsl(0, 15%, 88%);
		color: hsl(0, 19%, 25%);
	}

	&[data-status='rejected'],
	&[data-status='failed'] {
		background-color: hsl(10, 50%, 98%);
		color: hsl(17, 89%, 65%);
	}

	&[data-status='completed'],
	&[data-status='success'],
	&[data-status='closed'] {
		background-color: hsl(90, 35%, 73%);
		color: hsl(90, 51%, 23%);
	}
}
