.tablegroup {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid var(--white-400);
    box-shadow: 0px 4px 6px -4px rgba(131, 134, 133, 0.08),
        0px 8px 8px -4px rgba(152, 152, 152, 0.08);
    padding: var(--spacing) calc(var(--spacing) / 1.5);

    &__header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        h2 {

            font-size: 1.75rem;
            color: var(--primary-200);
            font-weight: 600;
            letter-spacing: -0.0385em;

            @include respond-above('md') {
                letter-spacing: -0.0235em;
            }
            line-height: 1.3;
        }

        a {
            font-size: 1rem;
            line-height: 1.5;
            color: var(--gray-300);
            letter-spacing: -0.0125em;

            @include respond-above('md') {
                letter-spacing: -0.0225em;
            }

        }
    }

    &__table {
        width: 100%;
        // min-width: 35rem;
        max-width: 100%;
        // table-layout: fixed;
    }

    :nth-child(2n):where(th, td) {
        display: none;
    }


    @include respond-above('md') {
        :nth-child(2n):where(th, td) {
            display: block;
        }
    }


    th {
        text-align: left;
        font-weight: 600;
        padding-block: 10px;
        padding-inline-end: 10px;
    }

    td {
        padding-block: 10px;
        padding-inline-end: 10px;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: -0.015em;

        @include respond-above('md') {
            letter-spacing:-0.024em;
        }
    }

    :last-child:where(th, td) {
        padding-inline-end: 0;
    }

    svg {
        width: 1.5rem;
        height: auto;
        vertical-align: middle;
    }
    .rate {
        color:hsl(17, 89%, 65%);
        font-size: calc(12 / 16 * 1rem);
    }
    .amount {
        font-size: calc(24 / 16 * 1rem);
        color:var(--gray-300);
    }
}

.icon-title {
    display: flex;
    align-items: baseline;
    gap: 1.5rem;
}

[data-task-type="instagram"] {
    .type {
       fill:#C11977;
    }
}


.actions{
    display: flex;
    align-items: baseline;
   justify-content: space-between;

   @include respond-above('md') {
       justify-content: flex-start;
       gap:2rem;
}

    &__view {
        padding:4px 10px;
        background-color: var(--primary-100);
        color: var(--white-100);
        font-weight:inherit;
        text-transform: inherit;
        border-radius: 24px;

        @include respond-above('md') {
            padding-inline:16px;
        }

        span {
            
            display: none;
            @include respond-above('md') {
               display:inline-block;
            }
        }
    }

   
}
