@import 'reset';
@import 'colors';
@import 'mixins';
@import 'functions';
@import 'splitter';
@import 'flow';
@import 'scrollsnap';
@import 'visually-hidden';
@import 'wrapper';
@import 'fonts';
@import 'header';
@import 'nav';
@import 'tab';
@import 'aside';
@import 'pills';
@import 'highlight';
@import 'notification';
@import 'button';
@import 'tablegroup';
@import 'multiform';
@import 'modal';
@import 'form';

:root {
	--spacing: 20px;
	--radius: 4px;
}

html {
	overflow-x: hidden;
}

@media (hover: none) and (pointer: coarse) {
	.button,
	input,
	select {
		min-height: 44px;
	}
}

.spacer {
	height: var(--spacing);
	display: block;
}

.explanation {
	border: 1px solid var(--white-400);
	padding: calc(var(--spacing) / 2) var(--spacing);
	box-shadow: 0px 2px 4px -2px rgba(255, 255, 255, 0.08),
		0px 4px 4px -2px rgba(24, 39, 75, 0.04);

	@include respond-above('md') {
	}

	font-size: 1rem;
	line-height: 1.3;
}
.auth {
	background-color: var(--primary-100);
	overflow-y: auto;
	@include flex-center-column;
	// grid-template-rows: auto;

	header {
		padding-block: var(--spacing);
		width: 100%;
		text-align: center;
	}

	&-form {
		width: min(90%, 500px);
		&__wrapper {
			background-color: var(--white-100);
			border-radius: var(--radius);
			padding: var(--spacing) calc(var(--spacing) * 1.5)
				calc(var(--spacing) * 2);
		}

		h1 {
			font-size: 1.75rem;

			text-align: center;
			color: var(--gray-100);
		}

		input {
			padding-inline-start: 40px;
		}

		.icon {
			position: absolute;
			left: 10px;
			top: 35px;
			transform: translateY(3px);
			z-index: 0;
		}

		a {
			color: var(--primary-100);
		}

		button {
			width: 100%;
			text-transform: uppercase;
			font-weight: 600;
		}

		[aria-disabled='true'] {
			background-color: rgba(0, 94, 47, 0.32);
			cursor: not-allowed;
		}
	}
}

.post {
	&__registration {
		box-shadow: 0px 2px 4px -2px rgba(255, 255, 255, 0.08),
			0px 4px 4px -2px rgba(24, 39, 75, 0.04);

		summary {
			cursor: pointer;
			padding: calc(var(--spacing) / 2);
			padding-right: var(--spacing);
			border: 1px solid var(--white-400);
			border-radius: var(--radius);
			display: flex;
			background: url('/img/chevron-right.svg') 99% center no-repeat;
			column-gap: 1rem;

			> span {
				flex-shrink: 0;
			}
			svg {
				width: 16px;
				height: auto;
				vertical-align: middle;
			}
			.text {
				color: #2558db;
			}
		}

		> div {
			background-color: var(--white-300);

			padding: calc(var(--spacing) / 2) var(--spacing) var(--spacing)
				calc(var(--spacing) * 2);
			align-items: baseline;
			margin-block-end: 5px;
		}

		.social {
			column-gap: 4rem;
			display: flex;
		}

		button {
			span {
				color: var(--primary-300);
			}
		}

		&[open] {
			summary {
				background-image: url('/img/chevron-down.svg');
			}
		}
	}
}

.activate {
	> * {
		margin-block-end: 10px;
	}
}

.main {
	padding-inline: var(--spacing);

	@include respond-above('md') {
		padding-inline: calc(var(--spacing) * 1.5);
	}
}

.app-layout {
	&__wrapper {
	}

	&__title {
		font-size: 1.84rem;
		font-weight: 600;
		line-height: 1.3;
		letter-spacing: -0.0385em;

		@include respond-above('md') {
			display: none;
		}
	}
}

footer {
	padding: calc(var(--spacing) / 1.5);
	text-align: center;

	@include respond-above('lg') {
		padding-inline: calc(var(--spacing) * 1.5);
		text-align: left;
	}

	font-size: 14px;
	color: var(--gray-300);
	letter-spacing: -0.0125em;
}

.empty {
	text-align: center;
	padding: 1.5rem;

	@include respond-above('lg') {
		padding: 3rem;
	}

	max-width: 500px;
	margin: 0 auto;

	svg {
		width: 40px;
		height: auto;

		@include respond-above('lg') {
			width: 80px;
		}
	}

	h2 {
		font-size: min(5vmin, 1.5rem);
		letter-spacing: -0.0385em;
		margin-top: 1rem;
	}

	p {
		font-size: min(1rem, 14px);
	}
}

/* 
defs
add border and padding to a section 
*/

.sbp {
	border: 1px solid var(--white-400);
	padding: var(--spacing) calc(var(--spacing) / 1.5);
	box-shadow: 0px 4px 6px -4px rgba(131, 134, 133, 0.08),
		0px 8px 8px -4px rgba(152, 152, 152, 0.08);
	height: 100%;
}

.payments {
	&__highlight {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		figure {
			flex: 1;
		}

		figcaption {
			font-size: 1rem;
			text-transform: uppercase;
			color: var(--gray-100);
			letter-spacing: -0.015em;

			@include respond-above('lg') {
				letter-spacing: -0.024em;
			}
		}

		h4 {
			font-size: min(7.5vw, 40px);
			font-weight: 600;

			@include respond-above('lg') {
				font-weight: 700;
			}

			span {
				font-size: min(6vw, 32px);
				color: var(--gray-300);
				letter-spacing: -0.0385em;

				@include respond-above('md') {
					letter-spacing: -0.03em;
				}
			}
		}
	}

	&__table {
		margin-top: 3rem;
	}

	.table-wrapper {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

.tasks {
	[data-tab='tab1']:checked ~ nav ~ [data-tab-panel='tab1'],
	[data-tab='tab2']:checked ~ nav ~ [data-tab-panel='tab2'],
	[data-tab='tab3']:checked ~ nav ~ [data-tab-panel='tab3'] {
		border: var(--tab-border-width) solid var(--tab-border-color);
		box-shadow: 0px 4px 6px -4px rgba(131, 134, 133, 0.08),
			0px 8px 8px -4px rgba(152, 152, 152, 0.08);
		padding: var(--spacing);
	}

	nav {
		@include respond-above('lg') {
			width: 600px;
		}
	}
}

.mt-10 {
	margin-block-start: 10px;
}

.view-task {
	form {
		max-width: 500px;
	}
	&__info {
		display: flex;
		gap: var(--spacing);
		flex-wrap: wrap;

		&-item {
			flex: 1;
			background-color: var(--white-300);
			padding: calc(var(--spacing) / 1.5);
			border-radius: var(--radius);
			display: flex;
			align-items: center;

			&:first-child {
				gap: var(--spacing);
				svg {
					width: min(10vw, 60px);
				}
			}

			&:nth-child(2) {
				gap: calc(var(--spacing) / 2);
				> div {
					background-color: var(--white-200);
					padding: calc(var(--spacing) / 2);
					flex: 1;
					border-radius: var(--radius);
					@include flex-center-vert;
					gap: 15px;
				}
				h4 {
					font-size: clamp(16px, 2vw, 1.5rem);
					letter-spacing: -0.0385em;
					color: var(--gray-100);
					span {
						text-transform: uppercase;
						font-size: 10px;
						letter-spacing: -0.015em;
						color: var(--gray-400);
						display: block;
						margin-block-end: 0.5rem;
					}
				}
			}

			h3 {
				font-weight: 600;
				font-size: clamp(1.5rem, 3vw, 28px);
				letter-spacing: -0.0385em;
				color: var(--gray-100);
				line-height: 1.4;
				letter-spacing: -0.0235em;
				margin-bottom: 5px;
			}

			p {
				color: var(--gray-300);
				font-weight: 600;
				letter-spacing: -0.024em;
				text-transform: capitalize;

				.pill {
					margin-inline-start: 20px;
				}
			}

			.svg-mini {
				width: min(2.5rem, 8vw);
				height: auto;
			}
		}
	}
}

.profile {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			padding: 8px 16px;

			@include respond-above('lg') {
				padding-block: 16px;
				padding-inline: 32px;
			}
		}
	}
	h1 {
		font-size: clamp(2rem, 5vw, 32px);
		letter-spacing: -0.03em;
		color: var(--dark);
	}
	span {
		font-size: 14px;
		display: block;
		color: var(--gray-100);
		font-weight: 400;
	}

	[data-tab-label] {
		--tab-spacing: 0.5rem;

		flex-basis: 350px;
		flex-grow: 0;
	}

	fieldset {
		border-top: 1px solid var(--white-500);
		padding-block-start: calc(var(--spacing) / 2);

		label {
			display: grid;
			align-items: center;
			@include respond-above('lg') {
				max-width: 900px;
				grid-template-columns: 1fr 1fr;
				column-gap: 3rem;
			}
		}

		[data-label] {
			color: var(--gray-100);
		}
	}

	&__photo {
		display: flex;
		gap: 3rem;
		justify-content: space-between;

		img {
			border: 2px solid var(--primary-300);
			border-radius: 50%;
			aspect-ratio: 1/1;
			object-fit: cover;
			font-weight: bold;
			font-size: 2.5rem;
			text-transform: uppercase;
			letter-spacing: -0.05em;
		}

		div {
			display: flex;
			gap: 1.5rem;
		}

		label {
			margin-bottom: 0;
			color: var(--primary-100);
			font-weight: 600;
			vertical-align: middle;
			cursor: pointer;
		}

		button {
			font-weight: 600;
			color: var(--gray-300);
		}
	}

	.bank__list {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
		> div {
			flex: 1;
		}
	}
}

.tag__trigger {
	padding: 1rem;
}

.jst-end {
	@include flex-center-vert;
	padding: 1rem;
	justify-content: flex-end;
}

.invites {
	display: flex;
	flex-wrap: wrap;
	@include respond-above('lg') {
		column-gap: 2rem;
	}

	> div {
		@include respond-above('lg') {
			flex-basis: calc(50% - 1rem);
		}
	}

	&__dets {
		h2 {
			font-weight: 700;
			color: var(--dark);
			font-size: min(2rem, 5vw);
			letter-spacing: -0.03em;
		}
	}
	.dets {
		&__gain {
			background-color: var(--primary-200);
			border-radius: var(--radius);
			color: var(--white-100);
			display: flex;
			padding: var(--spacing);
			> * {
				flex: 1;
			}

			h3 {
				letter-spacing: -0.03em;
				font-size: min(2rem, 5vw);
				font-weight: 700;
				display: flex;
				justify-content: center;
				column-gap: 1rem;
				align-items: center;
				span {
				}

				span:last-child {
					font-weight: 400;
					font-size: 1rem;
					width: 40%;
				}
			}
		}

		&__link {
			background-color: var(--primary-300);
			padding: var(--spacing);
			border-radius: var(--radius);

			h4 {
				color: var(--dark);
				letter-spacing: -0.024em;
				margin-bottom: 5px;
				font-size: 16px;
			}

			input {
				border-radius: calc(2 * var(--radius));
				min-height: 50px;
				border: 0;
			}

			button {
				position: absolute;
				right: 5px;
				padding: 8px 16px;
				top: 3px;

				font-weight: 600;
				@include respond-above('lg') {
					top: 5px;
				}

				+ p {
					font-size: 12px;
					margin-top: 5px;
				}
			}
		}
	}

	&__list {
		width: 100%;
		padding-top: 2rem;
		h3 {
			letter-spacing: -0.024em;
			font-size: 1rem;
			color: var(--primary-100);
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		&-item {
			border-bottom: 1px solid var(--white-200);
			padding-block-end: 1rem;

			&:first-of-type {
				border-top: 1px solid var(--white-200);
			}

			summary {
				background: url('/img/chevron-right.svg') 99% center no-repeat;
				cursor: pointer;
				display: grid;
				grid-template-columns: auto 1fr 1fr;
				padding-block: 1rem;
				padding-inline-end: 3rem;
				column-gap: 1.5rem;
				color: var(--gray-400);
			}

			img {
				border-radius: 50%;
				object-fit: cover;
			}

			.status {
				text-align: right;
			}

			&[open] {
				summary {
					background-image: url('/img/chevron-down.svg');
				}
			}

			table {
				width: 80%;
				margin: 0 auto;
				color: var(--gray-200);
			}
			td {
				padding-block: 8px;
			}

			&.active {
				h4 {
					color: var(--dark);
				}

				.status {
					color: var(--primary-100);
				}
			}
		}
	}
}
